/* body {
   margin: 0px;
} */

/* /// nested style :: */
/* .parent h1 {    
border: solid red ;
    width: 20%;
    text-align: center;
 height: 100px;
} */
/* colmun ===> to make element flex in y axe .. 
row ===== > to make element  flex in x axe .... */
/* .parent {
 margin-top: 100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

   
} */


/* .parent-2 h1 {
border: solid green;
width: 20%;
text-align: center;
}

.three{
    flex-grow: 1;
}

.parent-2{
    display: flex;
    flex-direction: row;
}

.child-one{
    height: 400px;
} */





/* challange correction ::::  */

header{
    background-color: aqua;
    height: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.navigation{
    background-color: greenyellow;
    height: 50px;
    text-align: center;
}

.left-side{

    height: 500px;
    background-color: orangered;
    width: 19%;
    margin-right: 5px;
    text-align: center;
}

.middle-side{
  
    height: 500px;
    background-color: rgb(255, 0, 234);
    width: 60%;
    text-align: center;

}

.right-side{
 
    height: 500px;
    background-color: rgb(202, 217, 32);
    width: 19%;
    margin-left: 5px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    flex-wrap: wrap;
}

footer {
    background-color: rgb(34, 58, 192);
    height: 50px;
    text-align: center;
    margin-top: 5px;
 
}

